html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; position: relative; background: #0d385a; }

html { font-size: 62.5%; }

body, html { height: 100%; overflow-x: hidden; }

@font-face { font-family: "Montserrat Regular"; src: url("fonts/montserrat-regular-webfont.eot"); src: url("fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-regular-webfont.woff") format("woff"), url("fonts/montserrat-regular-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Montserrat Bold"; src: url("fonts/montserrat-bold-webfont.eot"); src: url("fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-bold-webfont.woff") format("woff"), url("fonts/montserrat-bold-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "ProximaNova Regular"; src: url("fonts/proximanova-reg-webfont.eot"); src: url("fonts/proximanova-reg-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-reg-webfont.woff") format("woff"), url("fonts/proximanova-reg-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "ProximaNova Light"; src: url("fonts/proximanova-light.eot"); src: url("fonts/proximanova-light.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-light.woff") format("woff"), url("fonts/proximanova-light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "ProximaNova Bold"; src: url("fonts/proximanova-bold-webfont.eot"); src: url("fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-bold-webfont.woff") format("woff"), url("fonts/proximanova-bold-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }

h1 { font-family: "Montserrat Bold", Arial, sans-serif; }

p { font-family: "ProximaNova Regular", Arial, sans-serif; }

a { text-decoration: none; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.input-text { width: 100%; padding: 21px 30px 19px 155px; border-radius: 7px; font-size: 27px; font-size: 2.7rem; font-family: Myriad Pro, Arial, sans-serif; background: #FFF; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-transform: uppercase; }
.input-text:-moz-placeholder, .input-text::-moz-placeholder { color: #bcbec0; opacity: 1; }
.input-text::-webkit-input-placeholder { color: #bcbec0; }
@media only screen and (max-width: 1000px) { .input-text { padding: 22px 30px 21px 100px; } }
@media only screen and (max-width: 800px) { .input-text { font-size: 18px; font-size: 1.8rem; padding: 22px 30px 21px 75px; border-radius: 5px; } }
@media only screen and (max-width: 630px) { .input-text { padding: 11px 15px 11px 40px; border-radius: 3px; font-size: 9px; font-size: 0.9rem; } }

.checkbox { display: inline-block; position: relative; width: 100%; cursor: pointer; margin-top: 15px; }
.checkbox input { display: inline-block; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; vertical-align: middle; }
.checkbox input:checked + .checkbox__title:after { display: block; }

.checkbox__title { font-size: 20px; font-size: 2rem; font-family: "ProximaNova Regular", Arial, sans-serif; color: #808184; display: inline-block; vertical-align: middle; margin-left: 14px; }
@media only screen and (max-width: 800px) { .checkbox__title { font-size: 32px; font-size: 3.2rem; margin-left: 28px; } }
@media only screen and (max-width: 630px) { .checkbox__title { font-size: 16px; font-size: 1.6rem; margin-left: 12px; margin-top: 4px; } }
.checkbox__title:before { content: ""; position: absolute; left: 0; width: 33px; height: 33px; background: white; border-radius: 3px; top: 0px; }
@media only screen and (max-width: 800px) { .checkbox__title:before { width: 54px; height: 54px; border-radius: 5px; } }
@media only screen and (max-width: 630px) { .checkbox__title:before { width: 27px; height: 27px; border-radius: 3px; } }
.checkbox__title:after { content: ""; display: none; position: absolute; top: 8px; left: 8px; z-index: 2; background: #2dbbc3; border-radius: 2px; width: 17px; height: 17px; }
@media only screen and (max-width: 800px) { .checkbox__title:after { width: 26px; height: 26px; border-radius: 3px; top: 14px; left: 14px; } }
@media only screen and (max-width: 630px) { .checkbox__title:after { width: 13px; height: 13px; top: 7px; left: 7px; border-radius: 2px; } }

.methods-select { width: 290px; display: inline-block; text-align: left; vertical-align: top; }
@media only screen and (max-width: 630px) { .methods-select { margin: 0 auto; width: 48%; max-width: 150px; } }
.methods-select p { font-size: 24px; font-size: 2.4rem; font-family: "ProximaNova Regular", Arial, sans-serif; color: white; width: 210px; margin-bottom: 15px; }
@media only screen and (max-width: 630px) { .methods-select p { font-size: 12px; font-size: 1.2rem; width: 110px; margin-bottom: 7px; } }
.methods-select .is-active .select__text { border-radius: 5px 5px 0 0; }

.select { position: relative; cursor: pointer; text-align: center; font-size: 0; background: #1b3c52; border-radius: 5px; color: #fff; max-width: 290px; width: 100%; }
.select:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }

.select_white { background: #fff; }

.select__text { position: relative; display: inline-block; vertical-align: middle; padding: 14px 60px 10px 10px; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; line-height: 32px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 28px; font-size: 2.8rem; background: none; border-radius: 5px; font-family: "ProximaNova Bold", Arial, sans-serif; text-align: left; }
@media only screen and (max-width: 630px) { .select__text { font-size: 14px; font-size: 1.4rem; line-height: 16px; padding: 7px 30px 6px 6px; } }
.select__text:hover { background: #19dae5; }
.select__text:after { content: ""; position: absolute; right: 20px; top: 50%; margin-top: -7px; background: url('../img/icons-s837a7c0f80.png') 0 -649px no-repeat; width: 23px; height: 14px; }
@media only screen and (max-width: 630px) { .select__text:after { width: 12px; height: 9px; background: url(../img/icons/methods-arr.png) no-repeat center center; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; margin-top: -4px; right: 10px; } }

.select__list { position: relative; display: none; z-index: 100; width: 100%; overflow: hidden; border-radius: 0 0 5px 5px; }
.select__list li { cursor: pointer; line-height: 1; font-size: 28px; font-size: 2.8rem; line-height: 32px; text-align: left; padding: 14px 60px 10px 10px; font-family: "ProximaNova Bold", Arial, sans-serif; }
@media only screen and (max-width: 630px) { .select__list li { font-size: 12px; font-size: 1.2rem; line-height: 16px; padding: 7px 6px 6px 6px; } }
.select__list li:hover { background: #19dae5; color: #fff; }

.api-select { max-width: 252px; width: 100%; display: inline-block; }
.api-select .select__text { font-size: 24px; font-size: 2.4rem; line-height: 28px; padding: 12px 45px 8px 20px; }
.api-select .is-active .select__text:hover { border-radius: 5px 5px 0 0; }
.api-select .select__list li { padding: 12px 20px 8px 20px; font-size: 24px; font-size: 2.4rem; line-height: 28px; }

.out { width: 100%; min-width: 320px; min-height: 100%; margin: 0 0 -140px 0; position: relative; background: url(../img/background.jpg) no-repeat center center #0d385a; }
@media only screen and (max-width: 800px) { .out { margin: 0; background: #0d385a; } }
.out:after { display: block; content: ""; width: 100%; height: 140px; }
@media only screen and (max-width: 800px) { .out:after { display: none; } }

.header { width: 100%; position: relative; *zoom: 1; padding-top: 50px; text-align: center; padding-bottom: 45px; }
.header:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 630px) { .header { padding: 16px 0 0 0; } }
.header__logo { position: absolute; top: 56px; left: 54px; }
@media only screen and (max-width: 800px) { .header__logo { display: none; } }

.navigation { position: absolute; top: 58px; right: 47px; }
@media only screen and (max-width: 800px) { .navigation { left: 0; right: 0; top: 40px; padding: 0 20px; } }
@media only screen and (max-width: 630px) { .navigation { top: 18px; padding: 0 13px; } }
.navigation a { margin: 0 15px; float: right; position: relative; }
@media only screen and (max-width: 800px) { .navigation a { margin: 0; } }
.navigation .navigation__plus { background: url('../img/icons-s837a7c0f80.png') 0 -673px no-repeat; width: 38px; height: 38px; right: 0; -moz-transition: right 0.5s ease, -moz-transform 0.5s ease; -o-transition: right 0.5s ease, -o-transform 0.5s ease; -webkit-transition: right 0.5s ease, -webkit-transform 0.5s ease; transition: right 0.5s ease, transform 0.5s ease; }
@media only screen and (max-width: 800px) { .navigation .navigation__plus { float: left; width: 48px; height: 48px; background: url(../img/icons/plus.png) no-repeat center center; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; margin: 0 0 0 17px; } }
@media only screen and (max-width: 630px) { .navigation .navigation__plus { display: block; width: 24px; height: 24px; margin: 0; background: url(../img/icons/plus.png) no-repeat center center; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } }
.navigation .navigation__menu { background: url('../img/icons-s837a7c0f80.png') 0 -602px no-repeat; width: 38px; height: 37px; }
@media only screen and (max-width: 800px) { .navigation .navigation__menu { width: 48px; height: 46px; background: url(../img/icons/menu.png) no-repeat center center; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; margin: 0 17px 0 0; } }
@media only screen and (max-width: 630px) { .navigation .navigation__menu { display: block; width: 24px; height: 24px; margin: 0; background: url(../img/icons/menu.png) no-repeat center center; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } }
.navigation .navigation__prof { background: url('../img/icons-s837a7c0f80.png') 0 -721px no-repeat; width: 39px; height: 40px; }
@media only screen and (max-width: 800px) { .navigation .navigation__prof { float: left; width: 48px; height: 46px; background: url(../img/icons/prof.png) no-repeat center center; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; margin: 0 17px 0 0; } }
@media only screen and (max-width: 630px) { .navigation .navigation__prof { display: block; width: 24px; height: 24px; margin: 0; background: url(../img/icons/prof.png) no-repeat center center; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } }
.navigation .is-x { right: 350px; -moz-transform: rotate(-135deg); -ms-transform: rotate(-135deg); -webkit-transform: rotate(-135deg); -o-transform: rotate(-135deg); transform: rotate(-135deg); }

.land { text-align: center; padding-top: 180px; }
@media only screen and (max-width: 800px) { .land { padding-top: 90px; } }
@media only screen and (max-width: 630px) { .land { padding-top: 70px; } }
.land .logo { margin-bottom: 90px; display: inline-block; width: 66%; max-width: 562px; min-width: 210px; }
@media only screen and (max-width: 800px) { .land .logo { margin-bottom: 65px; } }
@media only screen and (max-width: 630px) { .land .logo { margin-bottom: 30px; } }
.land .logo img { width: 100%; }
.land h1 { font-size: 45px; font-size: 4.5rem; letter-spacing: -0.2px; color: #FFF; }
@media only screen and (max-width: 800px) { .land h1 { font-size: 44px; font-size: 4.4rem; } }
@media only screen and (max-width: 630px) { .land h1 { font-size: 22px; font-size: 2.2rem; margin-bottom: 7px; } }
.land h1 span { color: #39ecff; }
.land p { color: #FFF; font-size: 20px; font-size: 2rem; width: 67%; margin: 0 auto; }
@media only screen and (max-width: 800px) { .land p { font-size: 24px; font-size: 2.4rem; width: 440px; } }
@media only screen and (max-width: 630px) { .land p { font-size: 12px; font-size: 1.2rem; width: 220px; } }
.land h2 { font-family: "ProximaNova Regular", Arial, sans-serif; font-size: 34px; font-size: 3.4rem; line-height: 39px; color: #FFF; }
@media only screen and (max-width: 800px) { .land h2 { font-size: 28px; font-size: 2.8rem; line-height: 32px; } }
@media only screen and (max-width: 630px) { .land h2 { font-size: 14px; font-size: 1.4rem; line-height: 16px; } }

.search { width: 82%; max-width: 932px; margin: 60px auto 85px; display: inline-block; position: relative; }
@media only screen and (max-width: 630px) { .search { margin: 40px auto 50px; } }
.search:before { display: inline-block; position: absolute; top: 50%; left: 20px; content: ""; background: url('../img/icons-s837a7c0f80.png') 0 -996px no-repeat; width: 60px; height: 40px; margin-top: -20px; }
@media only screen and (max-width: 800px) { .search:before { left: 15px; margin-top: -22px; background: url('../img/icons-s837a7c0f80.png') 0 -1046px no-repeat; width: 44px; height: 44px; } }
@media only screen and (max-width: 630px) { .search:before { background: url(../img/icons/search-mob.png) no-repeat center center; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; height: 22px; width: 22px; margin-top: -11px; left: 8px; } }

.list { padding: 45px 0 0 0; margin-bottom: 340px; }
@media only screen and (max-width: 800px) { .list { width: 100%; max-width: 520px; text-align: justify; font-size: 0.1px; margin: 0 auto; padding: 60px 0 80px 0; }
  .list:after { content: ""; width: 100%; display: inline-block; } }
@media only screen and (max-width: 600px) { .list { width: 90%; } }
@media only screen and (max-width: 630px) { .list { width: 260px; padding: 30px 0; } }
.list li { display: inline-block; padding-right: 60px; }
@media only screen and (max-width: 800px) { .list li { padding: 0px; text-align: center; } }
.list li a { text-align: center; font-size: 0; font-size: 26px; font-size: 2.6rem; font-family: "ProximaNova Regular", Arial, sans-serif; line-height: 47px; color: #FFF; }
.list li a:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
@media only screen and (max-width: 800px) { .list li a { font-size: 28px; font-size: 2.8rem; }
  .list li a:before { display: none; } }
@media only screen and (max-width: 630px) { .list li a { font-size: 14px; font-size: 1.4rem; } }
.list li a:hover { color: #39ecff; }
.list li a span { display: inline-block; vertical-align: middle; }
.list li a i { display: inline-block; vertical-align: middle; margin-right: 19px; }
@media only screen and (max-width: 800px) { .list li a i { display: block; margin: 0 auto; } }
.list li a .address { background: url('../img/icons-s837a7c0f80.png') 0 -79px no-repeat; width: 44px; height: 37px; }
@media only screen and (max-width: 800px) { .list li a .address { background: url('../img/icons-s837a7c0f80.png') 0 0 no-repeat; width: 84px; height: 69px; } }
@media only screen and (max-width: 630px) { .list li a .address { display: block; width: 43px; height: 35px; background: url(../img/icons/address-mob.png) no-repeat center center; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } }
.list li a .transaction { background: url('../img/icons-s837a7c0f80.png') 0 -1184px no-repeat; width: 38px; height: 39px; }
@media only screen and (max-width: 800px) { .list li a .transaction { background: url('../img/icons-s837a7c0f80.png') 0 -1100px no-repeat; width: 75px; height: 74px; } }
@media only screen and (max-width: 630px) { .list li a .transaction { display: block; width: 38px; height: 38px; background: url(../img/icons/transaction-mob.png) no-repeat center center; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } }
.list li a .block { background: url('../img/icons-s837a7c0f80.png') 0 -258px no-repeat; width: 39px; height: 36px; }
@media only screen and (max-width: 800px) { .list li a .block { background: url('../img/icons-s837a7c0f80.png') 0 -174px no-repeat; width: 78px; height: 74px; } }
@media only screen and (max-width: 630px) { .list li a .block { display: block; width: 39px; height: 37px; background: url(../img/icons/block-mob.png) no-repeat center center; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } }

.feedback { position: absolute; bottom: 0; right: 0; width: 86px; height: 86px; background: #07b6bf; text-align: center; font-size: 0; }
.feedback:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
@media only screen and (max-width: 800px) { .feedback { display: none; } }
.feedback i { background: url('../img/icons-s837a7c0f80.png') 0 -520px no-repeat; width: 50px; height: 48px; display: inline-block; vertical-align: middle; }
.feedback:hover { background: #fff; }
.feedback:hover i { background: url('../img/icons-s837a7c0f80.png') 0 -462px no-repeat; width: 50px; height: 48px; }

.footer { position: relative; width: 100%; height: 140px; clear: both; float: left; }
@media only screen and (max-width: 800px) { .footer { background: #0a2035; padding-top: 15px; height: auto; padding-bottom: 20px; } }
@media only screen and (max-width: 630px) { .footer { padding: 7px 0 10px 0; } }
.footer__text { text-align: center; }
.footer__text h2 { font-family: "ProximaNova Regular", Arial, sans-serif; color: #FFF; font-size: 24px; font-size: 2.4rem; line-height: 44px; }
@media only screen and (max-width: 630px) { .footer__text h2 { font-size: 12px; font-size: 1.2rem; line-height: 20px; } }
.footer__text h2 span { color: #1ebcc5; }
.footer__text h2:after { display: block; margin: 10px auto 20px; background: url('../img/icons-s837a7c0f80.png') 0 -578px no-repeat; width: 330px; height: 2px; content: ""; }
@media only screen and (max-width: 630px) { .footer__text h2:after { margin: 5px auto 7px; background: url('../img/icons-s837a7c0f80.png') 0 -590px no-repeat; width: 155px; height: 2px; } }
.footer__text p { font-size: 16px; font-size: 1.6rem; color: #fff; }
@media only screen and (max-width: 630px) { .footer__text p { font-size: 8px; font-size: 0.8rem; } }
.footer__text p span { margin-left: 15px; }
@media only screen and (max-width: 630px) { .footer__text p span { margin-left: 5px; } }

.sidemenu { position: absolute; top: 0; right: -400px; width: 100%; max-width: 400px; min-height: 100%; background: url(../img/sidemenu.jpg) bottom center repeat-x #e5e6e7; z-index: 999; -moz-transition: width 0.5s linear, right 0.5s linear; -o-transition: width 0.5s linear, right 0.5s linear; -webkit-transition: width 0.5s linear, right 0.5s linear; transition: width 0.5s linear, right 0.5s linear; overflow: hidden; text-align: center; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-bottom: 150px; }
@media only screen and (max-width: 800px) { .sidemenu { max-width: 640px; right: -640px; } }
@media only screen and (max-width: 630px) { .sidemenu { padding-bottom: 75px; } }
.sidemenu__inner { width: 317px; margin: 0 auto; }
@media only screen and (max-width: 800px) { .sidemenu__inner { width: 100%; } }
.sidemenu__logo { margin-bottom: 30px; display: inline-block; position: relative; width: 75%; }
@media only screen and (max-width: 800px) { .sidemenu__logo { margin-bottom: 70px; width: 66%; } }
.sidemenu__logo img { width: 100%; }
.sidemenu h2 { font-family: "ProximaNova Light", Arial, sans-serif; color: #455f7e; font-size: 24px; font-size: 2.4rem; line-height: 36px; margin-bottom: 30px; }
@media only screen and (max-width: 800px) { .sidemenu h2 { font-size: 40px; font-size: 4rem; margin-bottom: 120px; } }
@media only screen and (max-width: 630px) { .sidemenu h2 { font-size: 20px; font-size: 2rem; margin-bottom: 40px; } }
.sidemenu h3 { color: #6D6E71; font-size: 24px; font-size: 2.4rem; font-family: "ProximaNova Regular", Arial, sans-serif; line-height: 1.2; }
@media only screen and (max-width: 800px) { .sidemenu h3 { font-size: 40px; font-size: 4rem; } }
@media only screen and (max-width: 630px) { .sidemenu h3 { font-size: 20px; font-size: 2rem; } }
.sidemenu h4 { color: black; font-size: 20px; font-size: 2rem; font-family: "ProximaNova Regular", Arial, sans-serif; margin-bottom: 35px; }
@media only screen and (max-width: 800px) { .sidemenu h4 { font-size: 32px; font-size: 3.2rem; margin-bottom: 60px; max-width: 500px; display: inline-block; } }
@media only screen and (max-width: 630px) { .sidemenu h4 { font-size: 16px; font-size: 1.6rem; max-width: 260px; margin-bottom: 30px; } }
.sidemenu .h3_mod { margin-bottom: 5px; font-family: "ProximaNova Bold", Arial, sans-serif; }
.sidemenu input, .sidemenu textarea { margin-top: 14px; width: 100%; padding: 13px 12px; border-radius: 4px; text-align: center; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "ProximaNova Regular", Arial, sans-serif; font-size: 20px; font-size: 2rem; }
.sidemenu input:-moz-placeholder, .sidemenu input::-moz-placeholder, .sidemenu textarea:-moz-placeholder, .sidemenu textarea::-moz-placeholder { color: #a6a8ab; opacity: 1; }
.sidemenu input::-webkit-input-placeholder, .sidemenu textarea::-webkit-input-placeholder { color: #a6a8ab; }
@media only screen and (max-width: 800px) { .sidemenu input, .sidemenu textarea { width: 79%; font-size: 32px; font-size: 3.2rem; padding: 21px 15px; margin-top: 23px; } }
@media only screen and (max-width: 630px) { .sidemenu input, .sidemenu textarea { font-size: 16px; font-size: 1.6rem; padding: 11px 10px 10px 10px; margin-top: 11px; } }
.sidemenu input:focus:-ms-input-placeholder, .sidemenu textarea:focus:-ms-input-placeholder { opacity: 0; }
.sidemenu input:focus:-moz-placeholder, .sidemenu textarea:focus:-moz-placeholder { opacity: 0; }
.sidemenu input:focus::-moz-placeholder, .sidemenu textarea:focus::-moz-placeholder { opacity: 0; }
.sidemenu input:focus::-webkit-input-placeholder, .sidemenu textarea:focus::-webkit-input-placeholder { opacity: 0; }
.sidemenu input:focus::placeholder, .sidemenu textarea:focus::placeholder { opacity: 0; }
.sidemenu textarea { font-size: 16px; font-size: 1.6rem; height: 162px; text-align: left; border: none; resize: none; }
@media only screen and (max-width: 800px) { .sidemenu textarea { font-size: 26px; font-size: 2.6rem; height: 260px; } }
@media only screen and (max-width: 630px) { .sidemenu textarea { font-size: 14px; font-size: 1.4rem; height: 130px; } }
.sidemenu .sidemenu__submit { width: 100%; height: 70px; text-align: center; border-radius: 4px; font-size: 20px; font-size: 2rem; font-family: "ProximaNova Bold", Arial, sans-serif; color: #fff; text-transform: uppercase; background: #2DBBC3; margin: 14px auto 10px; display: block; }
@media only screen and (max-width: 800px) { .sidemenu .sidemenu__submit { width: 79%; font-size: 32px; font-size: 3.2rem; margin-top: 23px; margin-bottom: 20px; height: 112px; } }
@media only screen and (max-width: 630px) { .sidemenu .sidemenu__submit { height: 55px; font-size: 16px; font-size: 1.6rem; max-width: 260px; } }
.sidemenu .sidemenu__submit:hover { background: #27cbd4; }
.sidemenu .recover { color: #808184; font-size: 20px; font-size: 2rem; font-family: "ProximaNova Regular", Arial, sans-serif; }
@media only screen and (max-width: 800px) { .sidemenu .recover { font-size: 32px; font-size: 3.2rem; } }
@media only screen and (max-width: 630px) { .sidemenu .recover { font-size: 16px; font-size: 1.6rem; } }
.sidemenu .recover:hover { color: #2dbbc3; }
.sidemenu hr { width: 87px; margin: 10px auto 12px; background: #6d6e71; height: 1px; border: none; }
.sidemenu .checkbox { text-align: left; text-align: center; font-size: 0; }
.sidemenu .checkbox:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
@media only screen and (max-width: 800px) { .sidemenu .checkbox { width: 79%; display: block; margin: 15px auto 0; text-align: left; } }
.sidemenu .checkbox input { padding: 0; margin: 0; width: 33px; height: 33px; }
@media only screen and (max-width: 800px) { .sidemenu .checkbox input { display: inline-block; width: 54px; height: 54px; } }
@media only screen and (max-width: 630px) { .sidemenu .checkbox input { width: 27px; height: 27px; } }

.is-open { right: 0; }

.profile { padding-top: 30px; }
@media only screen and (max-width: 800px) { .profile { padding-top: 50px; } }
@media only screen and (max-width: 630px) { .profile { padding-top: 25px; } }
.profile .sidemenu__logo { margin-bottom: 20px; }
.profile .profile__form { text-align: left; }
.profile .profile__form .profile__label { display: inline-block; width: 100%; margin-bottom: 20px; text-align: center; }
@media only screen and (max-width: 800px) { .profile .profile__form .profile__label { margin: 29px 0 6px 0; } }
.profile .profile__form .profile__label span { font-size: 20px; font-size: 2rem; font-family: "ProximaNova Regular", Arial, sans-serif; color: #a6a8ab; display: block; margin: 0 auto; }
@media only screen and (max-width: 800px) { .profile .profile__form .profile__label span { font-size: 32px; font-size: 3.2rem; } }
@media only screen and (max-width: 630px) { .profile .profile__form .profile__label span { font-size: 16px; font-size: 1.6rem; } }
.profile .profile__form .profile__label input { font-size: 16px; font-size: 1.6rem; margin-top: 10px; padding-right: 45px; text-align: left; background: url(../img/icons/profile-input.png) no-repeat 94% 50% white; }
@media only screen and (max-width: 800px) { .profile .profile__form .profile__label input { font-size: 24px; font-size: 2.4rem; padding: 25px 85px 25px 30px; } }
@media only screen and (max-width: 630px) { .profile .profile__form .profile__label input { font-size: 16px; font-size: 1.6rem; padding: 13px 45px 12px 15px; } }

.menu { padding-top: 40px; }
@media only screen and (max-width: 800px) { .menu { padding-top: 65px; } }
.menu .menu__nav { max-width: 292px; margin: 0 auto; padding-bottom: 20px; border-bottom: 1px solid #bebebf; }
@media only screen and (max-width: 800px) { .menu .menu__nav { max-width: 78%; width: 78%; } }
.menu .menu__nav li { text-align: left; }
.menu .menu__nav li a { color: #2E3E55; font-size: 24px; font-size: 2.4rem; font-family: "ProximaNova Regular", Arial, sans-serif; padding: 10px 16px; display: block; }
@media only screen and (max-width: 800px) { .menu .menu__nav li a { font-size: 40px; font-size: 4rem; letter-spacing: 1px; line-height: 80px; padding: 0 15px; font-family: "ProximaNova Light", Arial, sans-serif; } }
@media only screen and (max-width: 630px) { .menu .menu__nav li a { font-size: 20px; font-size: 2rem; line-height: 40px; } }
.menu .menu__nav li a:hover { color: #20b5bd; }
.menu .menu__nav li .is-active { color: #20b5bd; }
.menu .menu__log { padding: 0 16px; max-width: 260px; text-align: left; margin: 0 auto; padding-top: 25px; }
@media only screen and (max-width: 800px) { .menu .menu__log { max-width: 78%; width: 78%; padding: 0 15px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } }
.menu .menu__log li { display: inline-block; }
.menu .menu__log li:before { content: "/"; color: #2E3E55; font-family: "ProximaNova Bold", Arial, sans-serif; font-size: 24px; font-size: 2.4rem; margin: 0 7px 0 5px; }
@media only screen and (max-width: 800px) { .menu .menu__log li:before { font-size: 40px; font-size: 4rem; line-height: 120px; letter-spacing: 1px; margin: 0 8px 0 6px; } }
@media only screen and (max-width: 630px) { .menu .menu__log li:before { font-size: 20px; font-size: 2rem; line-height: 80px; margin: 0 7px 0 5px; } }
.menu .menu__log li:first-child:before { display: none; }
.menu .menu__log li a { color: #2E3E55; font-family: "ProximaNova Bold", Arial, sans-serif; font-size: 24px; font-size: 2.4rem; }
@media only screen and (max-width: 800px) { .menu .menu__log li a { font-size: 40px; font-size: 4rem; line-height: 120px; letter-spacing: 1px; } }
@media only screen and (max-width: 630px) { .menu .menu__log li a { font-size: 20px; font-size: 2rem; line-height: 80px; } }
.menu .menu__log li a:hover { color: #20b5bd; }

.feedback-menu { padding-top: 60px; }
@media only screen and (max-width: 800px) { .feedback-menu { padding-top: 30px; } }
.feedback-menu h2 { font-size: 30px; font-size: 3rem; line-height: 36px; color: #002451; margin-bottom: 50px; }
@media only screen and (max-width: 800px) { .feedback-menu h2 { font-size: 48px; font-size: 4.8rem; line-height: 58px; margin-bottom: 75px; } }
@media only screen and (max-width: 630px) { .feedback-menu h2 { font-size: 24px; font-size: 2.4rem; line-height: 29px; margin-bottom: 40px; } }

.close { display: none; }

.head { margin-bottom: 50px; *zoom: 1; }
.head:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 800px) { .head { margin-bottom: 110px; } }
@media only screen and (max-width: 630px) { .head { margin-bottom: 60px; } }
.head a { display: block; width: 50%; height: 141px; float: left; text-align: center; font-size: 0; background: #192129; border-bottom: #CACCCE 1px solid; }
.head a:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
@media only screen and (max-width: 800px) { .head a { height: 103px; border-bottom: #192129 1px solid; } }
@media only screen and (max-width: 630px) { .head a { height: 112px; } }
.head a span { display: inline-block; vertical-align: middle; font-family: "ProximaNova Light", Arial, sans-serif; font-size: 24px; font-size: 2.4rem; line-height: 36px; color: #fff; opacity: 0.5; }
@media only screen and (max-width: 800px) { .head a span { font-size: 40px; font-size: 4rem; line-height: 58px; } }
@media only screen and (max-width: 630px) { .head a span { font-size: 20px; font-size: 2rem; line-height: 28px; } }
.head .chosen { background: #e5e6e7; border-bottom-color: #E5E6E7; }
@media only screen and (max-width: 800px) { .head .chosen { border-bottom-color: #bec7ce; } }
.head .chosen span { color: #1F2C40; opacity: 1; }

.docks-bg { background: url(../img/docks.jpg) no-repeat center center; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; margin: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; min-height: 100%; padding-top: 150px; *zoom: 1; }
.docks-bg:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 800px) { .docks-bg { padding-top: 123px; } }
@media only screen and (max-width: 630px) { .docks-bg { padding-top: 65px; } }
.docks-bg:after { display: block; width: 100%; height: 1px; clear: both; content: ""; }
.docks-bg .header { position: absolute; top: 0; left: 0; }
@media only screen and (max-width: 800px) { .docks-bg .header { position: absolute; top: 0; left: 0; } }
@media only screen and (max-width: 630px) { .docks-bg .header { position: absolute; top: 0; left: 0; } }

.docks-h1 { font-size: 56px; font-size: 5.6rem; color: white; font-family: "Montserrat Regular", Arial, sans-serif; line-height: 54px; }
@media only screen and (max-width: 800px) { .docks-h1 { font-size: 40px; font-size: 4rem; color: #1ebcc5; line-height: 28px; } }
@media only screen and (max-width: 630px) { .docks-h1 { font-size: 20px; font-size: 2rem; } }

.docks { width: 100%; margin: 0 auto; position: relative; height: 100%; padding-top: 75px; max-width: 1230px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (min-width: 1600px) { .docks { padding: 0; } }
@media only screen and (max-width: 800px) { .docks { padding-top: 90px; } }
@media only screen and (max-width: 630px) { .docks { padding-top: 45px; } }
.docks__left { *zoom: 1; padding-top: 5px; float: left; position: absolute; top: 0; left: 0; }
.docks__left:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 800px) { .docks__left { width: 100%; padding: 0; } }
@media only screen and (min-width: 1600px) { .docks__left { position: absolute; top: 0; left: -190px; text-align: right; } }
.docks__left a { font-size: 28px; font-size: 2.8rem; font-family: "ProximaNova Regular", Arial, sans-serif; line-height: 32px; margin-bottom: 5px; color: #fff; display: block; }
@media only screen and (max-width: 800px) { .docks__left a { text-align: center; font-size: 0; display: block; width: 50%; float: left; font-size: 32px; font-size: 3.2rem; text-align: center; height: 80px; margin: 0; background: #0c4566; border-bottom: 10px solid #105d79; text-transform: uppercase; }
  .docks__left a:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
  .docks__left a span { display: inline-block; vertical-align: middle; } }
@media only screen and (max-width: 630px) { .docks__left a { font-size: 18px; font-size: 1.8rem; height: 38px; border-width: 7px; } }
.docks__left .is-active { color: #1ebcc5; }
@media only screen and (max-width: 800px) { .docks__left .is-active { border-bottom-color: #1ebcc5; } }
.docks__inner { overflow-y: auto; width: 82.6%; margin: 0 auto; background: white; padding: 8.7%; clear: both; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 500px; }
.docks__inner h2 { font-size: 28px; font-size: 2.8rem; font-family: "ProximaNova Bold", Arial, sans-serif; color: #414042; }
@media only screen and (max-width: 800px) { .docks__inner h2 { font-size: 40px; font-size: 4rem; } }
@media only screen and (max-width: 630px) { .docks__inner h2 { font-size: 20px; font-size: 2rem; } }
.docks__inner h3 { font-size: 20px; font-size: 2rem; font-family: "ProximaNova Bold", Arial, sans-serif; color: #414042; }
@media only screen and (max-width: 630px) { .docks__inner h3 { font-size: 12px; font-size: 1.2rem; } }
.docks__inner p, .docks__inner ul, .docks__inner li { font-size: 20px; font-size: 2rem; color: #414042; font-family: "ProximaNova Light", Arial, sans-serif; }
@media only screen and (max-width: 800px) { .docks__inner p, .docks__inner ul, .docks__inner li { font-size: 24px; font-size: 2.4rem; line-height: 28px; } }
@media only screen and (max-width: 630px) { .docks__inner p, .docks__inner ul, .docks__inner li { font-size: 12px; font-size: 1.2rem; line-height: 14px; } }
.docks__inner p strong, .docks__inner ul strong, .docks__inner li strong { font-family: "ProximaNova Bold", Arial, sans-serif; font-weight: normal; }
.docks__inner ul { margin-bottom: 10px; }
.docks__inner ul li { padding-bottom: 20px; }
@media only screen and (max-width: 630px) { .docks__inner ul li { padding-bottom: 15px; } }
.docks__inner h2, .docks__inner h3, .docks__inner p { margin-bottom: 25px; }
@media only screen and (max-width: 630px) { .docks__inner h2, .docks__inner h3, .docks__inner p { margin-bottom: 15px; } }

.explorer-h1 { font-size: 50px; font-size: 5rem; color: #1ebcc5; font-family: "Montserrat Regular", Arial, sans-serif; line-height: 54px; }
@media only screen and (max-width: 800px) { .explorer-h1 { font-size: 40px; font-size: 4rem; line-height: 28px; } }
@media only screen and (max-width: 630px) { .explorer-h1 { font-size: 20px; font-size: 2rem; line-height: 18px; } }

.explorer { max-width: 1190px; margin: 0 auto; padding: 100px 20px 0px 20px; *zoom: 1; }
.explorer:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 800px) { .explorer { padding: 0px 20px 60px 20px; } }
@media only screen and (max-width: 630px) { .explorer { padding: 25px 10px 30px 10px; } }
.explorer form { width: 100%; position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-right: 210px; margin-bottom: 50px; }
@media only screen and (max-width: 800px) { .explorer form { padding-right: 80px; margin-bottom: 12px; } }
@media only screen and (max-width: 630px) { .explorer form { padding-right: 40px; margin-bottom: 6px; } }
.explorer form div { display: inline-block; width: 100%; position: relative; }
.explorer form div:before { display: inline-block; position: absolute; top: 50%; left: 20px; content: ""; background: url('../img/icons-s837a7c0f80.png') 0 -996px no-repeat; width: 60px; height: 40px; margin-top: -20px; z-index: 10; }
@media only screen and (max-width: 800px) { .explorer form div:before { left: 15px; margin-top: -22px; background: url('../img/icons-s837a7c0f80.png') 0 -1046px no-repeat; width: 44px; height: 44px; } }
@media only screen and (max-width: 630px) { .explorer form div:before { background: url(../img/icons/search-mob.png) no-repeat center center; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; height: 22px; width: 22px; margin-top: -11px; left: 8px; } }
@media only screen and (max-width: 630px) { .explorer form .input-text { padding: 11px 15px 11px 40px; border-radius: 3px; font-size: 9px; font-size: 0.9rem; } }
.explorer__submit { position: absolute; top: 0; right: 0; width: 195px; height: 72px; background: #1ebcc5; border-radius: 7px; text-align: center; font-size: 0; }
.explorer__submit:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
@media only screen and (max-width: 800px) { .explorer__submit { width: 67px; height: 65px; } }
@media only screen and (max-width: 630px) { .explorer__submit { width: 33px; height: 33px; border-radius: 3px; display: block; } }
.explorer__submit:hover { background: #19dae5; }
.explorer__submit span { text-transform: uppercase; font-family: "ProximaNova Regular", Arial, sans-serif; font-size: 28px; font-size: 2.8rem; color: white; display: inline-block; vertical-align: middle; margin-left: 18px; }
@media only screen and (max-width: 800px) { .explorer__submit span { display: none; } }
.explorer__submit i { display: inline-block; vertical-align: middle; background: url('../img/icons-s837a7c0f80.png') 0 -424px no-repeat; width: 22px; height: 28px; }
@media only screen and (max-width: 630px) { .explorer__submit i { width: 18px; height: 22px; background: url(../img/icons/docks-button.png) no-repeat center center; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } }
.explorer__methods { padding: 0 0 50px 0; *zoom: 1; }
.explorer__methods:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 800px) { .explorer__methods { display: none; } }
.explorer__methods p { font-size: 20px; font-size: 2rem; color: #fff; display: inline-block; margin-right: 10px; }
.explorer__buttons { float: left; padding: 10px; }
.explorer .button { width: 100px; height: 37px; font-size: 20px; font-size: 2rem; font-family: "ProximaNova Regular", Arial, sans-serif; color: white; background: #146d85; border-radius: 5px; margin: 0 8px; }
.explorer .button:hover { background: #1ebcc5; }

.code-grey { padding: 5.5% 8% 5.5% 6%; background: #d1d3d4; font-size: 18px; font-size: 1.8rem; color: #002451; }
@media only screen and (max-width: 800px) { .code-grey { font-size: 24px; font-size: 2.4rem; } }
@media only screen and (max-width: 630px) { .code-grey { font-size: 12px; font-size: 1.2rem; padding: 5.5% 6% 10% 6%; line-height: 16px; } }
.code-grey code p { text-indent: 15px; word-break: break-all; font-family: inherit; }
.code-grey code p span { text-indent: 0; }
@media only screen and (max-width: 640px) { .code-grey code p span { display: block; } }
.code-grey code .code__p { padding: 10px 0; }

.code { width: 50%; float: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 800px) { .code { width: 100%; } }
.code h3 { padding: 25px 25px 20px 25px; color: #fff; font-size: 24px; font-size: 2.4rem; font-family: "ProximaNova Regular", Arial, sans-serif; line-height: 36px; }
@media only screen and (max-width: 800px) { .code h3 { font-size: 40px; font-size: 4rem; line-height: 72px; text-align: center; padding: 25px 25px 10px 25px; } }
@media only screen and (max-width: 630px) { .code h3 { font-size: 24px; font-size: 2.4rem; padding: 20px 20px 10px 20px; line-height: 36px; } }
.code div { border-top: 10px solid black; padding: 10px 20px 0 20px; background: #1d2937; height: 285px; font-size: 18px; font-size: 1.8rem; color: #fff; line-height: 22px; }
@media only screen and (max-width: 800px) { .code div { padding: 10% 10% 6.5% 6.5%; height: auto; font-size: 24px; font-size: 2.4rem; border-top-width: 18px; } }
@media only screen and (max-width: 630px) { .code div { font-size: 12px; font-size: 1.2rem; line-height: 16px; border-top-width: 10px; } }
.code div code p { text-indent: 15px; word-wrap: break-word; font-family: inherit; }

.code-left { padding-right: 5px; }
@media only screen and (max-width: 800px) { .code-left { padding: 0; } }
.code-left div { border-color: #1ebcc5; }
.code-left div code p span { color: #f9d57d; }

.code-right { padding-left: 5px; }
@media only screen and (max-width: 800px) { .code-right { padding: 0; } }
.code-right div { border-color: #1ebc5a; }
.code-right div code p span { color: #1ebc5a; }

.exp-foot { padding: 20px 0px; text-align: justify; font-size: 0.1px; min-width: 290px; display: none; clear: both; }
@media only screen and (max-width: 800px) { .exp-foot { display: block; width: 600px; margin: 0 auto; } }
@media only screen and (max-width: 630px) { .exp-foot { padding: 10px 10px 15px 10px; font-size: 0.1px; width: 300px; } }
.exp-foot:after { content: ""; width: 100%; display: inline-block; }

.out_api { margin: 0; height: 100%; }
.out_api:after { display: none; }
.out_api .header { height: 50px; position: absolute; top: 0; left: 0; right: 0; background: #0d385a; }

.api { height: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-top: 145px; }
.api__in { height: 100%; width: 100%; }
.api__sidebar { float: left; height: 100%; width: 295px; overflow-y: auto; background: #192129; position: relative; z-index: 100; }
.api__sidebar h2 { margin: 10px 0 25px 0; }
.api__sidebar h2 a { font-size: 18px; font-size: 1.8rem; color: #1ebcc5; padding: 3px 15px 1px 37px; border-radius: 0 4px 4px 0; display: inline-block; font-family: "ProximaNova Regular", Arial, sans-serif; text-transform: uppercase; }
.api__sidebar h2 a:hover { color: #fff; background: #1ebcc5; }
.api__content { float: left; *zoom: 1; height: 100%; margin-left: -295px; padding-left: 295px; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.api__content:after { content: " "; display: table; clear: both; }
.api__inner { float: left; height: 100%; width: 50%; overflow-y: auto; background: #f1f2f2; }
.api__center { padding: 5% 6%; }
.api__center h1, .api__center h2, .api__center h3, .api__center h4 { font-size: 56px; font-size: 5.6rem; line-height: 1; color: #414042; }
.api__center h1 { margin-bottom: 35px; font-family: "Montserrat Regular", Arial, sans-serif; }
.api__center h2 { font-size: 40px; font-size: 4rem; margin-bottom: 25px; font-family: "ProximaNova Bold", Arial, sans-serif; }
.api__center h4 { font-size: 24px; font-size: 2.4rem; font-family: "ProximaNova Bold", Arial, sans-serif; margin-bottom: 30px; }
.api__center h3 { font-size: 36px; font-size: 3.6rem; color: #1ebcc5; margin-bottom: 15px; font-family: "ProximaNova Bold", Arial, sans-serif; }
.api__center p { font-size: 20px; font-size: 2rem; line-height: 28px; font-family: "ProximaNova Regular", Arial, sans-serif; color: #808285; margin-bottom: 50px; }
.api__center hr { border: none; width: 100%; border-top: 1px solid #babbbe; border-bottom: 1px solid #e8e9e9; margin-bottom: 40px; }
.api__link { width: 100%; padding-bottom: 20px; }
.api__link ul { position: relative; padding-left: 28px; padding-bottom: 10px; }
.api__link ul:before { content: ""; width: 7px; height: 52px; background: #949597; position: absolute; bottom: 0; left: 0; }
.api__link ul li { font-size: 20px; font-size: 2rem; line-height: 28px; font-family: "ProximaNova Regular", Arial, sans-serif; color: #414042; }
.api__right { float: left; width: 50%; height: 100%; overflow-y: auto; background: #1d2937; }
.api__right hr { width: 100%; margin: 30px 0; border: none; border-top: #121a22 1px solid; border-bottom: #4d555f 1px solid; }
.api__right h2 { font-family: "ProximaNova Bold", Arial, sans-serif; font-size: 36px; font-size: 3.6rem; line-height: 28px; color: #e6e7e8; }
.api__top { padding: 30px 45px 15px 40px; background: #19222c; *zoom: 1; text-align: justify; font-size: 0.1px; }
.api__top:after { content: " "; display: table; clear: both; }
.api__top:after { content: ""; width: 100%; display: inline-block; }
.api__top i { background: url('../img/icons-s837a7c0f80.png') 0 -126px no-repeat; width: 23px; height: 38px; display: inline-block; margin-right: 35px; float: left; margin-top: 5px; }
.api__select { display: inline-block; text-align: left; width: 100%; max-width: 350px; margin-bottom: 10px; }
.api__switch { padding: 4px; background: #273e4b; border-radius: 4px; margin-bottom: 10px; text-align: left; display: inline-block; margin-left: 58px; }
.api__switch a { display: inline-block; padding: 9px 23px 6px 20px; font-size: 24px; font-size: 2.4rem; line-height: 28px; color: #ffffff; opacity: 0.6; font-family: "ProximaNova Bold", Arial, sans-serif; border-radius: 3px; }
.api__switch .is-active { opacity: 1; background: #60acc5; }
.api__way { padding: 45px; background: #1f3244; }
.api__way li { display: inline-block; }
.api__way li:after { content: "/"; display: inline-block; font-size: 21px; font-size: 2.1rem; line-height: 28px; margin: 0 5px; font-family: "ProximaNova Light", Arial, sans-serif; color: #2a89ae; }
.api__way li:last-child:after { display: none; }
.api__way li a { display: inline-block; font-size: 21px; font-size: 2.1rem; line-height: 28px; font-family: "ProximaNova Light", Arial, sans-serif; color: #2a89ae; }
.api__way li a:hover { text-decoration: underline; }
.api__way li .is-active { font-family: "ProximaNova Bold", Arial, sans-serif; }
.api__right-in { padding: 30px 40px; }
.api__prelink, .api__link { font-size: 21px; font-size: 2.1rem; line-height: 28px; font-family: "ProximaNova Bold", Arial, sans-serif; display: inline; }
.api__prelink { color: #e6e7e8; margin-right: 10px; text-transform: uppercase; }
.api__link { font-family: "ProximaNova Light", Arial, sans-serif; color: #bcbec0; }
.api__link span { color: #e62d68; }
.api__screen img { width: 100%; }

.hash { *zoom: 1; }
.hash:after { content: " "; display: table; clear: both; }
.hash__left { float: left; width: 165px; }
.hash__left p { font-size: 20px; font-size: 2rem; color: #EF4136; font-family: "ProximaNova Bold", Arial, sans-serif; }
.hash__right { float: left; }
.hash__right p { font-size: 20px; font-size: 2rem; font-family: "ProximaNova Light", Arial, sans-serif; color: #d1d3d4; position: relative; padding-left: 25px; }
.hash__right .mark:before { content: ""; display: block; width: 14px; height: 14px; background: #D1D3D4; position: absolute; top: 5px; left: 0; border-radius: 50%; }

.request li { word-break: break-all; }

.language { padding-bottom: 60px; }
.language li { font-size: 20px; font-size: 2rem; font-family: "ProximaNova Regular", Arial, sans-serif; line-height: 28px; color: #414042; position: relative; padding-left: 28px; }
.language li:before { width: 7px; height: 28px; content: ""; background: #949597; position: absolute; bottom: 0; left: 0; }

.blocks { width: 100%; }
.blocks button { width: 100%; padding: 0 50px 0 27px; height: 76px; text-align: left; border-radius: 3px; margin-bottom: 15px; background: #d1d3d4; color: #414042; font-size: 30px; font-size: 3rem; font-family: "ProximaNova Bold", Arial, sans-serif; position: relative; line-height: 28px; }
.blocks button:before { content: ""; background: url('../img/icons-s837a7c0f80.png') 0 -349px no-repeat; width: 20px; height: 35px; position: absolute; top: 50%; right: 27px; margin-top: -18px; }
.blocks button:hover { background: #c0dce4; }
.blocks button:active { background: #1ebcc5; color: #fff; }
.blocks button:active:before { background: url('../img/icons-s837a7c0f80.png') 0 -304px no-repeat; width: 20px; height: 35px; }

.sidebar-in { padding: 30px 0 0 0; }

.nav { padding: 0 0 0 37px; }
.nav a { color: #fff; font-size: 18px; font-size: 1.8rem; line-height: 28px; font-family: "ProximaNova Light", Arial, sans-serif; }
.nav__item { display: inline-block; }
.nav__item:hover { color: #1ebcc5; font-family: "ProximaNova Bold", Arial, sans-serif; }
.nav__item.is-active { color: #1ebcc5; }
.nav__drop { padding: 10px 0 9px 0; }
.nav .nav__drop-item { padding-left: 19px; display: inline-block; position: relative; line-height: 24px; }
.nav .nav__drop-item:hover { color: #1ebcc5; font-family: "ProximaNova Bold", Arial, sans-serif; }
.nav .nav__drop-item:hover:before { background: #1ebcc5; }
.nav .nav__drop-item:before { height: 24px; width: 7px; background: #1a4048; content: ""; position: absolute; left: 0; top: 0; }
